/*mapas*/

$redes:(
    facebook: #3a5795,
    instagram:#c25e30,
);

@each $red, $color in $redes {
    .btn--#{$red}{
        color: $color;
    }
};

/*extend*/
.cuidadosPiel{
    color: rgb(128, 128, 128);
}

.cuidadosPiel--rutina{
    @extend.cuidadosPiel;
    font-style: italic;
}

/*mixin*/

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;    
}

.my_mixin{
    @include sizes (2000px, 50px);
    background-color: rgb(223, 210, 194);
    font-size: small;
}


