@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import "gral";
@import "home";
@import "variables";
@import "operaciones";






section{ 
    color: rgb(42, 42, 42);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 254, 249);
    padding: 20px;
}


.refMarcas{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 2500px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    figure img{
        border: 5px solid rgb(254, 192, 159);
        width: 300px;
        height: 300px;
        margin: 50px 15px;
    }
}

@media(min-width:300px){
    .footerCotainer{
        background-color: rgb(254, 192, 159);
    }
}

@media(min-width:300px){
    .footerCotainer h3{
        font-size: medium;
    }
}

@media(min-width:300px){
    .footerCotainer h4{
        font-size: small;
    }
}

p{
    font-size: $parrafo;
}

h3{
    font-size: $h3;
}
